/* Basic style - to all elements on the page */

                body {
                background-color:rgb(195, 226, 131);
                font-style: normal;
                }

                h1 {
                font-family: 'Anton", sans-serif';
                text-shadow: 1px 1px white;
                color: rgb(0, 0, 0);
                }

                h2 {
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-decoration:underline;
                color: rgb(207, 97, 150);
                }
            body {
                background-color:rgb(163, 163, 161);

                /* GOOGLE FONTS */
                font-family: 'Abyssinica SIL';font-size: 16px;
            }

/* Example button markup:
Place the following in your HTML file:
<button class="button-9" role="button">Button 9</button>
*/

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #9bedbf;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 24px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
    }
    @media only screen and (min-width: 421px) and
(max-width: 1024px){
body{
  background-color: lightyellow}
  }

@media only screen and (min-width:1024px) {
  body {
    background-color:rgba(231, 99, 71, 0.1);
  }
}
@media only screen and (min-width: 421px) and
(max-width: 1024px){
body{
    background-color: rgb(179, 75, 19);}
    .table-class th{    
    border: 2px solid rgb(0, 0, 0);}
    .table-class td{         
    border: 2px solid rgb(255, 255, 255);} 
}

@media only screen and (min-width:1024px){
    body{
        background-color:lightgrey;}
        .table-class th{    
        border: 2px solid lightgray;}
        .table-class td{         
        border: 2px solid lightgrey;} 
    }

/* CSS for button-85 */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
figure {
    border: 1px #cccccc00 solid;
    padding: 4px;
    margin: auto;    
    }
          
figcaption {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-style: italic;
    padding: 10px;
    text-align: left;
    }    